<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="col-23 xl:col-12">
            <div class="card">
                <h5>
                    <b>
                        Price Codes
                    </b>
                </h5>
                <p-toast key="tst"></p-toast>
                <div class="p-toolbar-group-right mb-3" style="display: flex; justify-content: flex-end; width: 100%;">
                    <button pButton type="button" label="New" icon="pi pi-plus" class="mr-2"
                        (click)="openDialog()"></button>
                    <button pButton type="button" label="Active" icon="pi pi-circle-fill" class="mr-2 p-button-success"
                        (click)="statusA()"></button>
                </div>
                <p-table #dt [value]="Systems" [paginator]="true" [rows]="5" responsiveLayout="scroll"
                    [tableStyle]="{'min-width': '70rem'}" [rowsPerPageOptions]="[5, 10, 20,40,80,100]"
                    selectionMode="single" [resizableColumns]="true" [(selection)]="selectedProduct">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="1">1<p-sortIcon field="1"></p-sortIcon></th>
                            <th pSortableColumn="2">2<p-sortIcon field="2"></p-sortIcon></th>
                            <th pSortableColumn="3">3<p-sortIcon field="3"></p-sortIcon></th>
                            <th pSortableColumn="4">4<p-sortIcon field="4"></p-sortIcon></th>
                            <th pSortableColumn="5">5<p-sortIcon field="5"></p-sortIcon></th>
                            <th pSortableColumn="6">6<p-sortIcon field="6"></p-sortIcon></th>
                            <th pSortableColumn="7">7<p-sortIcon field="7"></p-sortIcon></th>
                            <th pSortableColumn="8">8<p-sortIcon field="8"></p-sortIcon></th>
                            <th pSortableColumn="9">9<p-sortIcon field="9"></p-sortIcon></th>
                            <th pSortableColumn="10">10<p-sortIcon field="10"></p-sortIcon></th>
                            <th pSortableColumn="roleName">Role<p-sortIcon field="roleName"></p-sortIcon></th>
                            <th pSortableColumn="active">Active <p-sortIcon field="active"></p-sortIcon></th>
                            <th pSortableColumn="createAt">CreateAt <p-sortIcon field="createAt"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-system>
                        <tr [pSelectableRow]="system">
                            <td>{{ system.one }}</td>
                            <td>{{ system.two }}</td>
                            <td>{{ system.three }}</td>
                            <td>{{ system.four }}</td>
                            <td>{{ system.five }}</td>
                            <td>{{ system.six }}</td>
                            <td>{{ system.seven }}</td>
                            <td>{{ system.eight }}</td>
                            <td>{{ system.nine }}</td>
                            <td>{{ system.zero }}</td>
                            <td>{{ system.role.roleName }}</td>
                            <td><i class="pi pi-circle-fill"
                                    [ngClass]="{'green-class': system.active, 'red-class': !system.active}"></i></td>
                            <td>{{ system.createAt | date }}</td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteProduct(system.pricecode_id)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-dialog [(visible)]="productDialog" [maximizable]="true" [style]="{width: '450px'}" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="header">
                    <span *ngIf="!addOrUpdate"><b>Add New Price Codes</b></span>
                    <span *ngIf="addOrUpdate"><b>Edit Price Code</b></span>
                </ng-template>
                <ng-template pTemplate="content">
                    <form [formGroup]="formGroup">

                        <div class="field">
                            <label for="en">1</label>
                            <input type="text" pInputText id="en" [(ngModel)]="one" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !one}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !one">1 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">2</label>
                            <input type="text" pInputText id="en" [(ngModel)]="two" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !two}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !two">2 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">3</label>
                            <input type="text" pInputText id="en" [(ngModel)]="three" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !three}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !three">3 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">4</label>
                            <input type="text" pInputText id="en" [(ngModel)]="four" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !four}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !four">4 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">5</label>
                            <input type="text" pInputText id="en" [(ngModel)]="five" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !five}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !five">5 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">6</label>
                            <input type="text" pInputText id="en" [(ngModel)]="six" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !six}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !six">6 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">7</label>
                            <input type="text" pInputText id="en" [(ngModel)]="seven" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !seven}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !seven">7 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="en">8</label>
                            <input type="text" pInputText id="en" [(ngModel)]="eight" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !eight}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !eight">8 is
                                required.</small>
                        </div>


                        <div class="field">
                            <label for="en">9</label>
                            <input type="text" pInputText id="en" [(ngModel)]="nine" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !nine}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !nine">9 is
                                required.</small>
                        </div>


                        <div class="field">
                            <label for="en">10</label>
                            <input type="text" pInputText id="en" [(ngModel)]="zero" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !zero}" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zero">10 is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="role">Role</label>
                            <p-dropdown [options]="Roles" [(ngModel)]="selectedRole" optionLabel="roleName"
                                [filter]="true" filterBy="roleName" id="role" [showClear]="true"
                                placeholder="Select Role"
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedRole}">
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedRole">Role is
                                required.</small>
                        </div>

                        <div class="field">
                            <label for="role">Active Status</label>
                            <p-dropdown [options]="active" [(ngModel)]="selectedStatus" optionLabel="status"
                                [filter]="true" filterBy="status" id="role" [showClear]="true"
                                placeholder="Select status"
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedStatus}">
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedStatus">Status is
                                required.</small>
                        </div>

                    </form>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" *ngIf="!addOrUpdate" icon="pi pi-check" class="p-button-text"
                        [disabled]="disabled" (click)="saveProduct()"></button>
                    <button pButton pRipple label="Update" icon="pi pi-check" *ngIf="addOrUpdate" class="p-button-text"
                        [disabled]="disabled" (click)="updateProduct()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Are you sure you want to delete?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteProductDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                        (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>